body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 100vh; 
    margin: 0; 
    background-color: #3b7861;
}

#container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    min-height: 40px;
    min-width: 40px;
    border: 5px solid #efb810;

}

.squares {

    flex-shrink: 0;
    box-sizing: border-box;

    width: 20px;
    height: 20px;
    border: 0.1px solid lightslategray;
    background-color: none;
    
  
}

#askButton {
    border: none;
    background-color: lightcoral;
    color: #efb810;
    font-size: 50px;
}